/*My CSS*/

#flagBtn{
    background: url(media/flag_of_antigua_and_barbuda.png);
}


button {
  }

a:hover + button {
    display: block;
}


/******************************************************/


{box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  color:#BF4A44;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/******************************************************/
.center{
	text-align:center;
}

table {
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*
.border tr:nth-child(even) {
    background-color: #dddddd;
} */

/*MENU SECTION*/
#topnav {
	text-align:center;
    background-color: #BF4A4A;
    overflow: hidden;
	list-style: none;
	width: 100%;
	margin: 0;

}

#topnav ul li{
	list-style:none;
	display: inline-block;
}


#topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 17px;
	
}


#topnav a:hover {
    background-color: #d89292;
    color: black;

}

#topnav .icon {
    display: none;
}


/*Resume Section*/

#space{
	text-align: center;
	background-color: #f3f3f3;
	width: 100%;
	
}

.border{
	border:1px solid;
	border-style:dashed;
	margin-bottom:15px;
}

.container {
	margin-left:10px;
	
}

#containerchild{
	text-align: center;
}

/*Index page css*/
.col {
	position: relative;
	float: left;
	margin: 20px;
	padding: 20px;
	width: 500px;
	height: auto;
	overflow: hidden;
   	
}

.col2 {
	position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:20px;
	overflow:hidden;
}

.col3 {
	position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:20px;
	overflow:hidden;
}

.col4 {
	position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:20px;
	overflow: hidden;
}

.col5 {
	position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:20px;
	overflow:hidden;
}

.col6 {
	position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:10px;
	overflow:hidden;
}
	
.col7 {
	position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:10px;
	overflow:hidden;
}

.col8{
    position: relative;
	display: block;
	margin: 20px;
	width: 500px;
	height: auto;
	float:left;
	padding:10px;
	overflow:hidden;	
	
}

.symbols  {
	
	display: block;
	position: relative;
	height: auto;
	text-align: center;
	overflow: hidden;
}

/*
#map {
   width: 100%;
   height: 600px;
   background-color: grey;
 }


#boxed{
	border: 1px solid;
    background: #d28080;
	color:white;
	border-radius: 5px 30px 30px 5px;
	width:20%;
}
*/

/*Footer*/
footer{
	position: relative;
	margin: 0;
	padding-top:20px;
	padding-bottom:2px;
	text-align:center;
	height:65px;
	background-color:#BF4A4A;
	color: white;
	width:100%;
	
}

/*CSS for responsive functionality
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}*/